
*{
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
*::selection{
    background-color: #292929;
    color: #ea4a00;
}
*::-webkit-textfield-decoration-container{

}
body{
    background-color: #292929;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
}